{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Game Shop</title>
</head>
<body>
    <header>
        <h1>Welcome to our game shop site!</h1>
    </header>

    <nav>
        {% for item in categories %}
            <a href="#">{{ item.game_category_title }}</a>
        {% endfor %}
        {% if user.is_authenticated %}
                <a href="/logout"><i class="fa fa-commenting-o"></i>Logout {{ user.username }}</a>
        {% else %}
                <a href="/login"><i class="fa fa-commenting-o"></i>Login</a>
        {% endif %}
    </nav>

    <section>
        {% for i in game_products %}
            <article>
                <h2>{{ i.game_title }}</h2>
                <p style="width:300px">{{ i.game_descriptions }}</p>
                <img src="{{ i.product_images.url }}">
            </article>
        {% endfor %}
    </section>
    <a href="edit/"><button>Edit game product</button></a>
    <a href="delete/"><button>Delete game product</button></a>
</body>
</html>